@page "/tables/clients"
@using DatingAgencyMS.Client.Features.Clients.Components
@using DatingAgencyMS.Client.Helpers
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Web
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@rendermode @(new InteractiveServerRenderMode(false))
<ConfirmDialog @ref="_dialog"></ConfirmDialog>

<Modal @ref="_byYearQuartersModal" Title="Клієнти за кварталами року">
    <BodyTemplate>
        <p>Вкажіть рік, за кварталами якого ви бажаєте побачити клієнтів</p>
        <input class="form-control" type="number" min="2000" @bind-value="_yearForClientsByQuarters">
        @if (!string.IsNullOrEmpty(_yearForClientByQuartersErrorMessage))
        {
            <p class="validation-message">@_yearForClientByQuartersErrorMessage</p>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Закрити</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnModalSuccessClick">Показати</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_registeredByPeriodModal" Title="Зареєстровані особи минулий місяць/півроку">
    <BodyTemplate>
        <p>Вкажіть період, за який ви хочете побачити зареєстрованих осіб</p>
        <select @bind="_period" id="period" class="form-select">
            <option value="">Виберіть період</option>
            <option value="@nameof(Constants.RegisteredByPeriod.LastMonth)">Минулий місяць</option>
            <option value="@nameof(Constants.RegisteredByPeriod.LastSemiAnnum)">Минулі 6 місяців</option>
        </select>
        @if (!string.IsNullOrEmpty(_periodErrorMessage))
        {
            <p class="validation-message">@_periodErrorMessage</p>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideRegisteredByPeriodModal">Закрити</Button>
        <Button Color="ButtonColor.Primary" @onclick="RedirectToClientsByPeriod">Показати</Button>
    </FooterTemplate>
</Modal>
<a href="/tables">
    <Icon CustomIconName="fa-solid fa-arrow-right"></Icon>
    До списку таблиць
</a>
<h3>Керування клієнтами</h3>
@if (_loggedInUser is not null)
{
    <div class="d-flex w-100 mb-3 gap-1">
        @if (UserState.Value.User!.IsAllowedToCreateEntities())
        {
            <a class="btn btn-primary" href="/tables/clients/create">Створити клієнта</a>
            <a class="btn btn-primary" @onclick="ShowConfirmDialogToDeleteClientsWhoDeclinedService">Видалити клієнтів, що відмовлись від послуг</a>
        }
        <button class="btn btn-secondary" @onclick="CalculateNumberWhoDeclinedService">К-сть клієнтів, що відмовились від послуг</button>
        <button class="btn btn-secondary" @onclick="OnShowModalClick">Клієнти за кварталами року</button>
        <button class="btn btn-secondary" @onclick="ShowRegisteredByPeriodModal">Зареєстровані особи за минулий місяць/півроку</button>
        <button class="btn btn-secondary" @onclick="ShowClientsWhoDidNotSkipAnyMeeting">Клієнти, що не пропустили жодної зустрічі</button>
    </div>
    <ClientsList></ClientsList>
}