@using BlazorBootstrap
@using DatingAgencyMS.Client.Features.Meetings.Models
@using DatingAgencyMS.Client.Features.Meetings.Models.Enum
@using DatingAgencyMS.Client.Helpers
@using DatingAgencyMS.Client.Models.Core
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveServerRenderMode(false))

<Grid TItem="MeetingDto"
      Class="table table-hover table-bordered table-striped"
      DataProvider="MeetingDataProvider"
      AllowPaging="true"
      AllowSorting="true"
      AllowFiltering="true"
      PageSize="10"
      Responsive="true">
    <GridColumn TItem="MeetingDto" HeaderText="Id Зустрічі" PropertyName="MeetingId" SortString="meeting_id" SortKeySelector="x => x.MeetingId" FilterTextboxWidth="80">
        @context.MeetingId
    </GridColumn>
    <GridColumn TItem="MeetingDto" HeaderText="Дата Зустрічі" PropertyName="Date" SortString="date" SortKeySelector="x => x.Date" FilterTextboxWidth="80">
        @context.Date
    </GridColumn>
    <GridColumn TItem="MeetingDto" HeaderText="Id Запрошувача" PropertyName="InviterId" SortString="inviter_id" SortKeySelector="x => x.InviterId" FilterTextboxWidth="80">
        @context.InviterId
    </GridColumn>
    <GridColumn TItem="MeetingDto" HeaderText="Id Запрошуваного" PropertyName="InviteeId" SortString="invitee_id" SortKeySelector="x => x.InviteeId" FilterTextboxWidth="80">
        @context.InviteeId
    </GridColumn>
    <GridColumn TItem="MeetingDto" HeaderText="Місце Зустрічі" PropertyName="Location" SortString="location" SortKeySelector="x => x.Location" FilterTextboxWidth="80">
        @context.Location
    </GridColumn>
    <GridColumn TItem="MeetingDto" HeaderText="Результат зустрічі" PropertyName="Result" SortString="result" SortKeySelector="x => x.Result" FilterTextboxWidth="80">
        @MeetingStatusHelper.ToUkrainianTranslationFromOldEnum(context.Result)
    </GridColumn>
    @if (UserState.Value.User.IsAllowedToUpdateAndDeleteEntities())
    {
    <GridColumn TItem="MeetingDto" HeaderText="Options" PropertyName="Options" Filterable="false" Sortable="false">
        <HeaderContent>
            Опції
        </HeaderContent>
        <ChildContent>
            <div class="d-flex gap-1">
                @if (@context.Result is MeetingResult.Pending)
                {
                    <a class="btn btn-primary" href="/tables/meetings/@context.MeetingId/change-status">Змінити статус зустрічі</a>
                }
            </div>
        </ChildContent>
    </GridColumn>
    }
</Grid>