@page "/users/assign-new-role"
@using DatingAgencyMS.Client.Models.Core
<h3>Змінити роль користувача</h3>
<div class="row">
    <div class="col-2 d-flex justify-content-center align-items-center">
        <label class="text-center" for="login">Логін користувача</label>
    </div>
    <div class="col-4">
        <input type="text" id="login" class="form-control" @bind-value="_userLogin" placeholder="Введіть логін користувача...">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" @onclick="LoadUser">Знайти користувача</button>
    </div>
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="col-2">
            <p class="text-danger">@_errorMessage</p>
        </div>
    }
</div>
@if (_assignNewRoleRequest is not null)
{
    <div class="col-lg-6 col-sm-12 mb-3">
        <EditForm FormName="assignNewRoleForm" Model="_assignNewRoleRequest" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="mb-3">
                <label class="form-label">Логін</label>
                <InputText class="form-control" readonly @bind-Value="_assignNewRoleRequest.Login"></InputText>
            </div>
            <div class="mb-3">
                <label class="form-label">Стара роль</label>
                <InputSelect class="form-select" readonly @bind-Value="_assignNewRoleRequest.OldRole">
                    <option value="@_assignNewRoleRequest.OldRole" selected>@_assignNewRoleRequest.OldRole</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label class="form-label">Нова роль</label>
                <InputSelect class="form-select" @bind-Value="_assignNewRoleRequest.NewRole">
                    <option selected disabled>Виберіть роль</option>
                    @if (UserState.Value.User is not null && IsOwner())
                    {
                        <option value="@DbRoles.Owner">Власник</option>
                        <option value="@DbRoles.Admin">Адміністратор</option>
                    }
                    <option value="@DbRoles.Operator">Оператор</option>
                    <option value="@DbRoles.Guest">Гість</option>
                </InputSelect>
            </div>
            <div class="d-flex justify-content-end gap-1">
                <a href="/users-management" class="btn btn-secondary">Повернутись назад</a>
                <button type="submit" class="btn btn-primary">Призначити нову роль</button>
            </div>
        </EditForm>
    </div>
}